{% extends 'html/base.html' %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/nav.css">
    <link rel="stylesheet" href="/static/crearEditar.css">
    <title>Crear Tarea</title>
</head>
<body>
    <h1>Crear Tarea</h1>
    <div class="container">
        <form method="post" action="{% url 'crearTarea' %}">
            <!-- Nombre de la tarea, descripción, fecha de inicio, fecha de finalización, estado -->
            {% csrf_token %}
            <label for="nombreTarea">Nombre de la Tarea</label>    
            <input type="text" name="nombreTarea" id="nombreTarea">

            <label for="descripcionTarea">Descripción de la Tarea</label>
            <textarea name="descripcionTarea" id="descripcionTarea" cols="30" rows="10" placeholder="Descripción...."></textarea>

            <label for="fechaInicio">Fecha de inicio</label>
            <input type="date" name="fechaInicio" id="fechaInicio">

            <label for="fechaFinalizacion">Fecha de Finalización</label>
            <input type="date" name="fechaFinalizacion" id="fechaFinalizacion">

            <label for="estadoTarea">Estado de la Tarea</label>
            <div class="radio-container">
                <input type="radio" id="completada" name="estado" value="completada">
                <label for="completada">Completada</label>
                <input type="radio" id="incompleta" name="estado" value="incompleta" checked>
                <label for="incompleta">Incompleta</label>
            </div>

            <input type="submit" value="Crear Tarea">
        </form>
    </div>
</body>
</html>
{% endblock %}
