{% extends 'html/base.html' %}

{% block content %}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Editar Tarea</title>
    </head>
    <body>
        <h1>Editar Tarea</h1>
            <div>
                <form method="post" action="{% url 'editarTarea' tarea.id %}">
                    <!--nombre de la tarea
                        descripcion
                        fecha de inicio
                        fecha de finalizacion
                        estado
                    -->
                    {% csrf_token %}
                    <label for="nombreTarea">Nombre de la Tarea</label>    
                    <input type="text" name="nombreTarea" id="nombreTarea" value="{{ tarea.nombre }}">

                    <label for="descripcionTarea">Descripción de la Tarea</label>
                    <textarea name="descripcionTarea" id="descripcionTarea" cols="30" rows="10" placeholder="Descripción...">{{ tarea.descripcion }}</textarea>

                    <label for="fechaInicio">Fecha de inicio</label>
                    <input type="date" name="fechaInicio" id="fechaInicio" value="{{ tarea.fecha_creacion|date:'Y-m-d' }}">

                    <label for="fechaFinalizacion">Fecha de Finalización</label>
                    <input type="date" name="fechaFinalizacion" id="fechaFinalizacion" value="{{ tarea.fecha_vencimiento|date:'Y-m-d' }}">

                    <label for="estadoTarea">Estado de la Tarea</label>
                    <input type="radio" id="completada" name="estado" value="completada" {% if tarea.estado == "completada" %}checked{% endif %}>
                    <label for="completada">Completada</label>
                    <input type="radio" id="incompleta" name="estado" value="incompleta" {% if tarea.estado == "incompleta" %}checked{% endif %}>
                    <label for="incompleta">Incompleta</label>
                    
                    <input type="submit" value="Guardar Cambios">
                    
                </form>
            </div>
    </body>
    </html>
{% endblock %}
